.upcoming-episode {
    border: 1px solid $gray-lighter;

    .dropdown button {
        font-size: 12px !important;
    }

    &__header {
        h4 { margin-top: 0; }

        padding: 20px;
        border-bottom: 1px solid $gray-lighter;
    }

    &__meta {
        text-transform: uppercase;
        color: $zap-med-gray;
        font-size: 12px;
        margin-bottom: 10px;
    }

    &__showing {
        /* border-bottom: 1px solid $gray-lighter; */
        overflow: hidden;
        background: $zap-tan;
        > div {
            padding: 10px 20px 10px;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $gray-lighter;
        }
    }

    &__showing-time {
        @extend .col-md-3;
        padding-top: 25px !important;
        vertical-align: middle;
        display: inline-block;
    }

    &__showing-on {
        @extend .col-md-9;
        border-left: 1px solid $gray-lighter;

        ul {
            list-style-type: none;
            padding: 0;
            overflow: hidden;
            margin-bottom: 0;
            display: inline-block;
            &:before {
                content: "Find it on";
                margin-right: 20px;
            }
        }


        li {
            display: inline-block;
            margin-right: 20px;
            img {
                margin-right: 10px;
            }

        }

        .channel-meta {
            vertical-align: middle;
            display: inline-block;
        }

        .channel-name {
            color: $zap-med-gray;
        }


    }


}
