/**
 * Ads related styles (DFP/Taboola/etc)
 */

.ad {
	padding-top: 1.5em;

	> div {
		display: inline-block;
	}

	&.padding-bottom {
		padding-bottom: 1.5em;
	}

	&.no-padding-top {
		@extend .no-padding-top;
	}
}