.article-item, .article-hero {
    .extra {
        background-color: $brand-primary;
        position: absolute;
        padding: 1px 9px 0;
        top: 14px;
        line-height: $line-height-computed;
        max-width: 60%;
        height: $line-height-computed + 2;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: white;
        z-index: 1;

        a {
            color: #ffffff;
            text-decoration: none;
        }
    }

    .timestamp {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        padding: 1px 9px 0;
        top: 14px;
        right: 15px;
        line-height: $line-height-computed;
        height: $line-height-computed + 2;
        color: #fff;
        z-index: 1;
    }

    .extra, .timestamp {
        text-transform: uppercase;
        font-size: 12px;
    }
}