.site-footer {
    margin-top: 20px;
    padding: 20px 0 20px;
    border-top: 1px solid #eaeaea;
    text-align: center;
    li {
        float: none;
        display: inline-block;
    }
    .menu-item a {
        text-transform: uppercase;
        font-size: 12px;
        color: $zap-med-gray;
        padding: 10px;

        // no grey hover bg on link items
        &:hover, &:focus {
            background: 0;
        }

        // lighten copyright color
        &.copyright {
            color: #afafaf;
        }

        // add bullet divider between menu items
        &:after {
            content: "•";
            position: relative;
            left: 10px;
            width: 90px;
            height: 90px;
        }
    }

    // omit bullet point from last item (copyright)
    .menu-item:last-of-type a {
        &:after {
            content: "";
        }
    }

    [class^='col-md'] {
        padding: 0;
    }
    .social-media-links {
        text-align: center;
        padding: 0;

        li {
            display: inline-block;
            margin-right: 10px;
        }

        a {
            font-size: 24px;
            padding-top: 0;
            padding-left: 0;

            // no grey hover bg on link items
            &:hover, &:focus {
                background: 0;
            }
        }
    }
}
