.site-header > .navbar {
    height: 60px;
    margin: 0;
     
    .container {
        padding-right: 0;
    }

    .btn .fa + span {
        margin: 0;
    }

    .navbar-btn {
        width: 41px;
    }

    .navbar-menu {
        height: 60px;
        width: calc(100% - 60px);
        > * {
            display: block;
            float: left;
        }
    }

    .logo {
        margin: 5px;
        display: block;
        @include sprite('zap2it-logo-small');
    }

    .navbar-header, .navbar-menu {
        display: block;
        float: left;
    }

    .nav > li  {
        display: inline-block;
    }


    .header-right {
        float: right !important;
        > div {
            display: block;
            float: left;
        }
    }

    .navbar-form, .navbar-btn {
        padding-top: 10px;
        padding-bottom: 10px;
     }

    @include respond-to($small) {
       .logo {
            margin-right: 20px;
       }
    }

    @include respond-to($medium) {
        height: 85px;
        
    
        .logo {
            @include sprite('zap2it-logo');
        }

        .navbar-btn {
            margin-top: 20px;
        }

        .navbar-menu {
            width: calc(100% - 180px);
            height: 85px;
        }

    }
    
    @include respond-to($desktop) {
        .btn .fa + span {
            margin-left: 5px;
        }
    }


}

#user-actions{
    ul {
        margin: 0;
    }
}

#primary-menu {
    margin: 0;

    .menu-item a {
        padding: 20px 10px 13px;
        font-size: 16px;
    }

    @include respond-to($medium) {
        .menu-item a {
            padding: 32px 15px 32px;
            font-size: 18px;
        }
    }


    // trigger alternate labels for menu items on mobile
    @include respond-to($small) {

        .has-responsive-label.menu-item a {
            font-size: 0;
            &::after {
                content: attr(title);
                font-size: 12px;
            }
        }
    }
}
 
.ad-bar {
    border-bottom: 1px solid $gray-lighter;
    text-align: center;
    @include respond-to($desktop) {
        padding: 10px;
    }
}
 
