.page-home {

    &__hero {

        h3 {
            margin: 0 0 20px 0 !important;
        }

        > div {
            margin: 0;

        }

        .article-hero {
            padding-left: 0;
            img { margin-bottom: 10px; }
        }

        .article-hero-list {
            padding-right: 0;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }

        li {
            padding-bottom: 10px;
        }

        li:not(:first-of-type) {
            padding-top: 10px;
        }

        li:not(:last-of-type) {
            border-bottom: 1px solid $gray-lighter;
        }


        @include respond-to($desktop) {
            h3 {
                margin: 0 !important
            }
        }
    }


    &__featured {
        background: $zap-tan;
        border-color: #f0eddd;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        h3 {
            text-align: center;
            color: $zap-dark-gray;
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 20px;
        }

    }

    .article-item {
        padding-bottom: 20px;
        font-size: 16px;
        img {
            margin-bottom: 10px;
            width: 100%;
            height: auto;
        }
    }

}
