
// Resize and reposition modal.
.modal-content {
    margin-top: 50px;
    

    .nav-tabs li:hover{
        background: #fff;
    }
    
    .nav-tabs  a, 
    .nav-tabs  a:focus,
    .nav-tabs  a:hover,
    .nav-tabs  a:active {
        background: #fff;
    }

    .nav-tabs .active a, 
    .nav-tabs .active a:focus,
    .nav-tabs .active a:hover,
    .nav-tabs .active a:active {
        background: #fff;
        border-top: 2px solid $zap-green;
    }

    .btn-lg {
        font-size: 14px;
    }
        
    form {
        padding-top: 2rem;
    }

    .AccountModal-modal & {
        @include respond-to($desktop) {
            max-width: 850px;
            left: 50%;
            margin-left: -425px;

        }
    }

    @include respond-to($desktop) {
        max-width: 555px;
        left: 50%;
        margin-left: -277px;

    }
}

.modal-body-wide .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.modal-footer-link {
    text-align: center;
    padding: 2em 1em 0.5em;
    & + &  {
        padding-top: 0.5em;
        padding-bottom: 1em;
    }
}


.fb-btn {
    @include button-variant(#fff, #3b5998, #3b5998);
    @extend .btn-lg;
    font-size: 14px;
    margin: 20px 0 20px;
}

hr.or {
    margin: 40px -999px 40px;
    position: relative;
    &:before {
        content: "or";
        color: #8f8f8f;
        font-style: italic;
        font-size: 18px;
        line-height: 1em;
        background: #fff;
        padding: 15px;
        border-radius: 100px;
        border: 1px solid rgb(229, 229, 229);
        position: absolute;
        left: 50%;
        bottom: -28px;
        margin-left: -28px;
    }
}


.after-or {
    // margin: 40px -999px 40px;
    position: relative;
    &:before {
        content: "";
        width: 0px;
        height: 200px;
        border-right: 1px solid rgb(229, 229, 229);
        display: block;
        position: absolute;
        left: 5px;
        bottom: 0;
    }
    &:after {
        content: "or";
        color: #8f8f8f;
        font-style: italic;
        font-size: 18px;
        line-height: 1em;
        background: #fff;
        padding: 15px;
        border-radius: 100px;
        border: 1px solid rgb(229, 229, 229);
        position: absolute;
        left: -20px;
        bottom: 20%;
        // margin-left: -28px;
    }
}