article.search-result {
	margin: $line-height-computed 0;

	h3 {
		margin: ( $line-height-computed / 2 ) 0;
	}

	.row {
		margin: 0;
	}

	.search-image-wrapper {
		margin-right: $line-height-computed;
		max-width: 265px; max-height:150px;
		padding-bottom: $line-height-computed;
	}

	&.show-details {
		background: $zap-tan;
	}

	.entry-footer {
			@include clearfix();
	}

	.entry-header {
		padding: $line-height-computed/2 0;

	}

	.entry-summary {
		margin: 0;
	}
}

body.search-results {

    .related-items {}
    .related-item {
        color: #fff;
        padding: 20px 0px;

        overflow: hidden;
        h4 {
            margin-top: 0;
        }

        & small {
            color: #fff;
            display: block;
            margin-top: 0.5em;
        }

        &__content, &__img {
            padding: 0;
        }

        &__content{
            padding-left: 15px;
        }

        &__tags {
            text-transform: uppercase;
        }

        &__header {
            @include clearfix;
            overflow: hidden;
            margin-bottom: 15px;
        }

        .toggle-label { display: none; }

        @include respond-to($medium) {

            .toggle-label {
                display: inline-block;
            }
        }

        @include respond-to($desktop) {
            &__content{
                padding-left: 0;
            }
        }
    }

    .content-area {
        padding-top: 10px;
    }

    hr.bold {
        margin: 0;
        width: 100%;
        border-top: 4px solid $brand-primary;
    }

    .related-stories {
        clear: both;
        padding-top: $line-height-computed;
    }

}
