.single-show {

    .site-main {
        padding-top: 30px;
    }

    &__banner {
        color: #fff;

        .add-to-my-shows {
            margin-bottom: 0.5em;
            margin-left: none;
            float: none;
            @include respond-to($desktop) {
                float: left;
                margin-left: 1em;
            }
        }

    }

    &__banner-ad {
        background: rgba(0,0,0,0.60);
        text-align: center;
        @include respond-to($desktop) {
            padding: 10px;
        }

    }


    &__banner-inner {
        background: rgba(0,0,0,0.40);
        padding-top: 20px;
        padding-bottom: 20px;
        @include respond-to($desktop) {
            padding-top: 80px;
            padding-bottom: 80px;
        }

    }



    &__thumbnail {
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__info {

    }

    &__meta {
        text-transform: uppercase;
        font-size: 12px;
    }

    &__content {
        display: none;
        margin: 0.5em 0 0;
        @include respond-to($desktop) {
            display: block;
        }
    }

    &__title {
        margin: 0 0 0.5em;
        font-size: 18px;
        float: none;
        @include respond-to($desktop) {
            float: left;
            font-size: 30px;
        }
    }

    &__menu {
        background: #fff;
        padding-top: 15px;

        a {
            border: 0 !important;
            &:hover, &:active {
                background: #fff !important;
            }
        }

        .active {
            border-left: 4px solid $brand-primary;
            a { color: $zap-med-gray; }
        }

        li:hover {
            &:before {
                content: "";
                display: block;
                width: 100%;
                height: 4px;
                background: $brand-primary;
                position: relative;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }
        }

        @include respond-to($desktop) {

            padding-top: 0;
            background: rgba(0,0,0, 0.60);

            a {
                font-size: 18px;
                padding-top: 1em !important;
                padding-bottom: 1em !important;
            }

            .active {
                border-left: 0;
                margin-bottom: 4px;
                &:before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 4px;
                    background: $brand-primary;
                    position: relative;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                }
            }
        }
    }
}



.show-overview {
    header {
        @extend %section-header;
    }
}


.related-news {
    font-size: 16px;

    img {
        margin-bottom: 10px;
        width: 100%;
        height: auto;
   }

   //add some margin-top inside the related-news tab

   &__item {
        @extend .col-md-6;
        margin-bottom: 20px;
   }
}



.cast-crew {

    img {
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }

    //add some margin-top inside the cast-crew tab


    &__item {
        @extend .col-md-3;
        @extend .col-xs-6;
        margin-bottom: 20px;
        color: $zap-dark-gray !important;
    }

    &__name {
        color: #000;
    }

    &__title {
        font-style: italic;
    }

    &__character {

    }
}


.boss-btn {
    @extend .col-md-6;
    @extend .col-md-push-3;
    padding: 20px;
    button, a {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn-lg;
        width: 100%;
        font-size:  14px;
    }
}
