body.single-post {
    color: $zap-dark-gray;

    h1.entry-title  {
        font-size: 36px !important;
        line-height: 1.21;

        @include respond-to ($desktop) {
            font-size: 48px !important;
        }
    }

    .entry-meta {
        text-transform: uppercase;
        font-size: 12px;
        color: $zap-med-gray;
    }

    .entry-social-media {
        margin-top: 20px;

        .sd-content > ul > li {
            width: 156px;
        }

        .sd-social-icon-text .sd-content li.share-facebook a:before {
            content: '\f203';
        }

        .sd-social-icon-text .sd-content li.share-pinterest a:before {
            content: '\f210';
        }

        .sd-button span.share-count {
        	background: $brand-primary;
        }


        .sd-content > ul > li > a.sd-button {
            line-height: 40px;
            padding-left: 15px;
            padding-right: 15px;
            width: 98%;
            background: #fff;
            text-align: center;

            &:before {
                vertical-align: baseline;
                font-size: 1.8em;
                position: relative;
                top: 5px;
                margin-right: 5px;
            }

            span {
                font-size: 14px;
                font-family: "OpenSans Semibold", sans-serif;
            }
        }

        .sharedaddy {
            h3.sd-title {
                display: none;
                visibility: hidden;
            }
        }
    }

    .entry-content {
        font-family: "OpenSans Semibold", sans-serif;
        font-size: 16px;
        line-height: 1.4em;
        p { margin-bottom: 1.5em; }
    }

    .tags-links {
        text-transform: uppercase;
        font-size: 12px;
    }

    .related-items {}
    .related-item {
        color: #fff;
        padding: 20px 0px;

        overflow: hidden;
        h4 {
            margin-top: 0;
        }

        & small {
            color: #fff;
            display: block;
            margin-top: 0.5em;
        }

        &__content, &__img {
            padding: 0;
        }

        &__content{
            padding-left: 15px;
        }

        &__tags {
            text-transform: uppercase;
        }

        &__header {
            @include clearfix;
            overflow: hidden;
            margin-bottom: 15px;
        }

        .toggle-label { display: none; }

        @include respond-to($medium) {

            .toggle-label {
                display: inline-block;
            }
        }

        @include respond-to($desktop) {
            &__content{
                padding-left: 0;
            }
        }
    }

    .post-navigation {

        .nav-label {
            text-transform: uppercase;
            font-size: 12px;
            color: $zap-med-gray;
            font-weight: 800;
            margin: 10px 0 10px;
            font-family: "OpenSans", sans-serif;
        }

        .nav-previous, .nav-next {
            max-width: 300px;
            a {
                font-size: 16px;
            }
        }

        .nav-links {
            overflow: hidden;
            margin: 20px 0 20px;
        }

        .nav-previous {
            margin-left: 40px;
            position: relative;
            &:after {
                content: "\f053";
                font-family: "FontAwesome";
                position: absolute;
                left: -30px;
                bottom: 20px;
                color: $zap-med-gray;
            }
        }
        .nav-next{
            text-align: right;
            margin-right: 40px;
            position: relative;
            &:after {
                content:  "\f054";
                font-family: "FontAwesome";
                position: absolute;
                right: -30px;
                bottom: 20px;
                color: $zap-med-gray;
            }
        }
    }

    .content-area {
        padding-top: 10px;
    }

    hr.bold {
        margin: 0;
        width: 100%;
        border-top: 4px solid $brand-primary;
    }

    .related-stories {
        clear: both;
        padding-top: $line-height-computed;
    }

}
