.page-tv-listings {
    #content {
        padding-top: 20px;
    }
}

#menu-tv-listings-tabs {

    li {
        border-radius: 0;

        & a:hover,
        & a:active{
            background: 0 !important;
            border-top-color: #fff !important;
            border-left-color: #fff !important;
            border-right-color: #fff !important;
            outline: 0;
        }

        &.current-menu-item a:hover,
        &.current-menu-item a:active {
            border-bottom-color: #fff !important;
            outline: 0;
        }

        &.fa-heart:before  {
            display: none;
        }

        &.fa-heart a:before {
            content: "\f004";
            margin-right: 0.5em;
        }
    }

    .current-menu-item {
        position: relative;
        &:after {
            content: "";
            display: block;
            width: 99%;
            height: 4px;
            background: $brand-primary;
            position: absolute;
            top: 0;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }

    a {
        font-size: 18px;
        padding: 15px;
        padding-left: 40px;
        padding-right: 40px;
    }

    // trigger alternate labels for menu items on mobile
    @include respond-to($small) {
        li {
            width: 33%;
            text-align: center;
        }
        a {
            font-size: 14px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .has-responsive-label.menu-item a {
            font-size: 0;
            &::after {
                content: attr(title);
                font-size: 16px;
            }
        }
    }

}
