.provider-search {
    h5 { font-weight: bold; }

    .form-group + .form-group {
        margin-left: 20px;
    }
}


.provider-results {
    margin-top: 20px;


    .empty {
        padding: 20px;
        text-align: center;
        font-style: italic;
        color: #ddd;
    }

    &__list {
        padding: 0.5em 0 0;
        list-style-type: none;

    }

    &__item {
        color: $brand-primary;
        cursor: pointer;
        padding: 0.25em 0 0.25em;
    }
}
