.timezone-select {
    h5 {
        margin-bottom: 20px;
    }

    .row {
        margin-bottom: 15px;
    }
    .row + .row {
        margin-bottom: 10px;
    }

    .btn {
        font-size: 12px;
        color: $zap-med-gray;
        height: 35px;
    }
}
