@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.5;
    }
    80% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(3.5);
        transform: scale(3.5);
        opacity: 0;
    }
}

/* Gecko/Firefox */
@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
        opacity: 0.5;
    }
    80% {
        -moz-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
    100% {
        -moz-transform: scale(3.5);
        transform: scale(3.5);
        opacity: 0;
    }
}
/* Presto/Opera */
@-o-keyframes pulse {
    0% {
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0.5;
    }
    80% {
        -o-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
    100% {
        -o-transform: scale(3.5);
        transform: scale(3.5);
        opacity: 0;
  }
}
/* Standard */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    80% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(3.5);
        opacity: 0;
    }
}
