/**
 * Style a input placeholder
 */
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}


// Media Queries
$small:              "max-width: #{$screen-xs-max}";
$medium:             "min-width: #{$screen-sm-min}";
$desktop:            "min-width: #{$screen-md-min}";
$large-desktop:      "min-width: #{$screen-lg-min}";

/**
 * Responsive helper
 */
@mixin respond-to($query) {
    @media only screen and (#{$query})  {
        @content;
    }
}


%section-header {
    border-top: 4px solid $brand-primary;
    padding: 20px 0;
    margin-top: 20px;
    overflow: hidden;
    h4 {
        font-size: 22px;
        color: $zap-dark-gray;
        float: left;
        margin: 0;
    }

    a {
        font-size: 12px;
        float: right;
    }
}

%col {
    display: inline;
    float: left;
    & + & {
        margin-left: 20px;
    }
}
