
//
// Variables
// --------------------------------------------------

//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$brand-primary:         #2aab6e;
$zap-green:             $brand-primary;
$zap-tan:               #faf9f4;
$zap-dark-gray:         #515151;
$zap-med-gray:          #757575;
$zap-light-gray:        #b1b1b1;
$zap-lighter-gray:      #d7d7d7;

//
$zap-red:               #fc6d74;
$zap-orange:            #ffb222;
$zap-purple:            #b872f5;
$zap-gold:              #e3c600;
$zap-aqua:              #41cbbc;
$zap-blue:              #00a5dd; 
$zap-light-green:       #45b92e;
//


//== Components
//
$border-radius-base:        2px;
$border-radius-large:       2px;
$border-radius-small:       2px;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:   "OpenSans Semibold", sans-serif;


//== Forms
//
//** Placeholder text color
$input-color-placeholder:    $zap-light-gray;


//== Grid system
//
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:          30px !default;


//== Container sizes
//
// Large screen / wide desktop
$container-large-desktop:     (1200px + $grid-gutter-width);


//== Navbar
//
$navbar-padding-vertical:     2.5em;
$navbar-default-color:        $zap-dark-gray;
$navbar-default-bg:           $zap-tan;


//== Wells
//
$well-bg:                     $zap-tan;
