@import 'variables';
@import 'vendor/bootstrap';
@import 'mixins';
@import 'fonts';
@import 'sprites';
@import 'wordpress';

.mce-edit-area iframe {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
