@import 'variables';
@import 'vendor/bootstrap';
@import 'mixins';
@import 'fonts';
@import 'sprites';
@import 'animations';
@import 'components';
@import 'wordpress';

@import 'partials/header';
@import 'partials/home';
@import 'partials/footer';
@import 'partials/single';
@import 'partials/show';
@import 'partials/modal';
@import 'partials/tv-listings';
@import 'partials/ads';
@import 'partials/archive';
@import 'partials/search';

@import 'vendor/imagegallery';

// Stop webfonts from being fat and ugly.
body {
    -webkit-font-smoothing: antialiased;
}


// fix for icon spacing on btns
.btn .fa + span {
    display: inline-block;
    margin-left: 5px;
}


// body.page-tv-listings .content-area,
.page-tv-listing-new #primary.content-area {
    padding-top: 0 !important;
}

.page-new-tonight #primary.content-area,
.page-my-shows #primary.content-area {
    padding-left: 0 !important;
    padding-right: 0 !important;
    @include respond-to($desktop) {  padding-right: 15px !important; }
}


// Layout styles
//
// Two column layouts
.content-area {
    @extend .col-md-8;
    padding-top: 10px;

    &.full-width {
        @extend .col-md-12;
    }
}

.widget-area,
.sidebar-area {
    @extend .col-md-4;
}

#primary {

    @include respond-to($desktop) {
        border-right: 1px solid #eaeaea;

        &.full-width {
            border-right: 0;
        }
    }
}

