#show-movie-search {
    position: relative;
    height: 60px;

    button {
        height: 41px;
        color: $zap-med-gray;
    }

    @include respond-to($medium) {
        height: 85px;
        display: inline-block;

        form {
            position: relative;
        }

        form .fa-search {
            position: absolute;
            top: 15px;
            left: 33px;
            color: $zap-med-gray;
        }

        input {
            @extend .form-control;
            padding-left: 40px;
            height: 45px !important;
            width: 240px !important;
        }

        @include placeholder {
            font-size: 14px;
            color: $zap-light-gray;
        }

    }

     @include respond-to("min-width: 1200px") {
        padding: 20px 0 20px;

        input {
            margin-left: 20px;
        }

        // .fa-search {
        //     // left: 33px;
             
        // }
     }
}
