.channel-listings{
    border-right: 1px solid $zap-lighter-gray;
}

.channel-card {
    @extend .col-xs-2;
    @extend .col-sm-2;
    background: $zap-tan;
    height: 65px;
    border-bottom: 1px solid $zap-lighter-gray;
    border-left: 1px solid $zap-lighter-gray;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;

    .channel-row--sponsored & {
        height: 90px;
    }

    .sponsor-tag {
        background: #f9e37b;
        text-transform: uppercase;
        padding: 0.75em 0 1em;
        font-size: 10px;
        margin: 0 -15px 0;
        line-height: 1em;
        letter-spacing: 1px;
    }

    &__logo {
        width: 30px;
        margin: auto;
        margin-bottom: 5px;
    }

    &__meta {
        > span { display: inline-block;}
        overflow: hidden;
        font-size: 11px;
        text-align: center !important;
        font-family: "OpenSans Bold", sans-serif;
        padding: auto;
        margin: 0 auto;
    }
    
    &__callSign, &__channelNum {
        text-align: center;
    }

    &__channelNum {
        margin-right: 3px;
    }

    &__callSign {
        color: $zap-med-gray;
    }

    &__star {
        display: none;
    }

    @include respond-to($medium) {

    
     
        &__logo, &__meta {
            display: inline;
            float: left;
           
            text-align: left !important; 
            height: 50px;
            > div {
                display: block;
            }
        }

        &__logo {
             
            margin-left: 10px;
            margin-right: 10px;
            width: 50px;
        }

        &__meta {
            @extend .clearfix;
            > span { display: block;}
            font-size: 12px;
             
        }

        &__callSign, &__channelNum {
            display: block;
            float: none;
            text-align: left;
        }
    }

    @include respond-to($desktop) {
        &__logo {
            margin-left: 10px;
            margin-right: 15px;             
        }
        
        &__meta {
            width: 60px;
        }

        &__star {
            display: inline;
            text-align: right;
        }

        .is-default-lineup &__callSign{
            margin-top: 10px;
        }
    }
}


.channel-ad {
    @extend .row;
    > div { margin:0 auto; }
    padding: 20px 0 20px;
    text-align: center;
    border: 1px solid $zap-lighter-gray;
    border-top: 0;    
}