

.grid-controls {
    margin-bottom: 20px;

    [class^='col-'] {
        padding-left: 0;
        padding-right: 0;
    }

    .col {
        display: inline-block;
        float: left;
    }

    .btn {
        height: 37px;
        font-size: 12px !important;
        font-weight: "OpenSans Bold" !important;
    }
    
    @include respond-to($small) {

        .find-channels-col, 
        .find-channels-trigger, 
        .grid-filters-col,
        .jump-to-col {
            width: 100%;
            margin-bottom: 5px;
        }

        .grid-filter {
            width: 49%;
        }

        .grid-prefs-col {
            display: none;
        }
    }
    
    @include respond-to($medium) {
        [class^='col-'] {
            margin-right: 10px;
        }
    }
}

.empty-grid-filter {
    h3 { color: $zap-green; }
}



.grid-preferences-trigger {

    @include respond-to($desktop) {
        margin-right: 20px;
    }
}



.grid-filter-controls {
    a {
        font-size: 12px !important;
        background: 0!important;
    }

    .active a {
        color: #fff!important;
    }

    @include respond-to($desktop) {
        margin-right: 8px;
    }
}
 

.grid-filter-controls__all {
     a:hover, &.active{
        color: #fff !important;
        background: $zap-green !important;
    }
}

.grid-filter-controls__starred {
    a:hover, &.active{
        color: #fff !important;
        background: $zap-green !important;
    }
}


.grid-filter-controls__movies  {
    a { color: $zap-red!important; }
    a:hover, &.active{
        background: $zap-red!important;
        color:#fff!important;
    }
    
}


.grid-filter-controls__sports  {
    a { color: $zap-orange!important; }
    a:hover,  &.active{
        background: $zap-orange!important;
        color:#fff!important;
    }
}
 

.grid-filter-controls__family  {
    a { color: $zap-purple!important; }
    a:hover,  &.active{
        background: $zap-purple!important;
        color:#fff!important;
    }  
}
 

.grid-filter-controls__news  {
    a { color: $zap-gold!important; }
    a:hover,  &.active{
        background: $zap-gold!important;
        color:#fff!important;
    }
 
}
 
.grid-filter-controls__talk  {
    a { color: $zap-aqua!important; }
    a:hover, &.active {
        background: $zap-aqua!important;
        color: #fff!important;
    }
}
