.grid-header {
    margin-left: -15px;
    margin-right: -15px;

    &__item {
        height: 35px;
        text-align: left;
        font-size: 12px;
        font-family: 'OpenSans Bold';
    }
    
    button {
        border-radius: 0;
        border: 0px;

        &:nth-of-type(2) {
            border-right: 0;
        }

    }

    button + button {
        border-left: 1px solid $zap-lighter-gray;
    }

    %btn-group-group {
        padding: 0;
    }

    .btn-group-first {
        // @extend .col-xs-1;
        @extend .col-sm-2;
        float: left;
        display: block;
        @extend %btn-group-group;
        border: 1px solid $zap-lighter-gray;
        button {
            height: 37px;
        }
        button:first-of-type { 
            border-radius: 2px 0 0 0; 
            border-right: 1px solid $zap-lighter-gray;
        }
        @include respond-to($small) {
             width: 16.66667%;
        }
    }

    .btn-group-last {
        @extend .col-sm-10;
        @extend %btn-group-group;
        float: left;
        display: block;
        border: 1px solid $zap-lighter-gray;
        border-left: 0;

        button {
            height: 37px;
        }
        
        button:last-of-type { 
            border-radius: 0 2px 0 0;
        }
 
        @include respond-to($small) {
            width: 83.33333%;
            button:nth-of-type(2) { 
                width: 34% !important;
            }
        }
    }

    @include respond-to($small) {
        margin-left: -30px;
        margin-right: -30px;

        // .btn-group-first button {
        //     width: 14%;
        // }
        // .btn-group-last button {
        //     width: 14%;
        // }
    }
}