.show-detail-card {
    @extend .clearfix;
    overflow: hidden;
    background: $zap-tan;
    border: 1px solid $zap-lighter-gray;;
    border-top: 0;
    padding: 20px 10px;
    height: 200px;
    
    &__img {
        float: left;
        display: block;
        // width: 65px;
        height: auto;
        padding: 0;
        margin-right: 20px;
    }

    &__title {
        color: $brand-primary;
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 0;
        max-width: 90%;
    }

    &__episode-title{
        font-size: 16px;
        font-family: 'OpenSans Bold';
        margin-bottom: 0;
        > span { margin-right: 5px; } 
        small {
            text-transform: uppercase;
            color: $zap-med-gray;
            font-family: 'OpenSans Semibold';
        }
    }

    &__meta {
        text-transform: uppercase;
        font-size: 12px;
        color: $zap-med-gray;
    }

    &__desc {
        margin: 10px 0 20px;
    }

    [class^="col-"]{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .close-show-detail {
        cursor: pointer;
        position: absolute;
        border-radius: 2px;
        top: 0px;
        right: 20px;
        color: $zap-green;
        font-size: 24px;
        text-align: center;
        padding: 0 5px 0 ;
        line-height: 1em;
        border: 1px solid $zap-light-gray; 
        &:hover {
            border-color: $zap-green;
        }
        &:active {
            background: $zap-green;
            color: #fff;
        }
    }
    
    @include respond-to($small) {
        &__img {
            width: 65px;
            height: auto;
        }
    }

    @include respond-to($medium){
        &__img {
            width: 100px;
        }
    }

    @include respond-to($desktop){

        height: 285px;

        &__img {
            width: 165px;
            height: auto;
            // margin-bottom: 20px;
        }

        &__title {
            margin-top: 10px;
            margin-bottom: 10px;
            max-width: 100%;
        }
    }

}
