@include respond-to($small) {
    .grid-results {
        margin-right: -15px;
        margin-left: -15px;
    }
}


.show-card {
    @extend .col-xs-2;
    @extend .col-sm-2;
    height: 65px;
    padding: 0;
    background: $zap-tan;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-top: 3px solid rgba(0,0,0,0);

    &__inner, 
    &__sponsored-img {
        display: inline;
        float: left;

    }
    
    &__sponsored-img {
        position: relative;
        top: -3px;
    }

    &.selected {
        border-top: 3px solid $brand-primary;
        border-bottom: 1px solid rgba(0,0,0,0);
    }

    .channel-row--sponsored & {
        height: 90px;
    }



    &.flag-live &__time:after {
        color: $zap-blue;
        content: "Live";
        margin-left: 5px;
        text-transform: uppercase;
        font-family: "OpenSans Bold";
        font-size: 12px;
    }

    &.flag-new &__time:after {
        color: #45b92e;
        content: "New";
        margin-left: 5px;
        text-transform: uppercase;
        font-family: "OpenSans Bold";
        font-size: 12px;
    }

    &.filter-movie {
        background: #fee9ea;
        &.selected {
            background: $zap-tan;
            color: $zap-red;
            border-top-color: $zap-red;
        }
    }

    &.filter-sports {
        background: #ffefd4;
        &.selected {
            background: $zap-tan;
            color: $zap-orange;
            border-top-color: $zap-orange;
        }
    }

    &.filter-news {
        background: #fcf9e5;
        &.selected {
            background: $zap-tan;
            color: $zap-gold;
            border-top-color: $zap-gold;
        }
    }

    &.filter-talk {
        background: #ecfaf8;
        &.selected {
            background: $zap-tan;
            color: $zap-aqua;
            border-top-color: $zap-aqua;
        }
    }

    &.filter-family {
        background: #f8f1fe;
        &.selected {
            background: $zap-tan;
            color: $zap-purple;
            border-top-color: $zap-purple;
        }
    }

    &__time {
        font-size: 12px;
        color: $zap-med-gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
    }
    
    &__ellipsis {
        position: relative;
        width: 16px;
        height: 8px;
        &:after {
            position: absolute;
            bottom: 0px;
            content: '…';
            display: block;
            font-weight: bold;
            font-size: 16px;
            color: $zap-green;
            width: 16px;
            height: 16px;
        }
    }
 
    &__title {
        font-family: "OpenSans Bold", sans-serif;
        white-space: nowrap;
        overflow: hidden;
        line-height: 1.3em;
        text-overflow: ellipsis;
        margin: 0;
    }
}


.show-card__inner {
    width: 100%;
    padding:10px;
    display: inline-block;
    overflow: hidden !important;

    .channel-row--sponsored & {
       
    }

    .has-sponsored-img & {
        padding-top: 20px;
        width: 80% !important;
    }
}



// show
