.account-settings {
    @extend .col-md-6;
    @extend .col-md-push-3;

    fieldset {
        @extend .well;
        margin-top: 40px;
        padding-top: 0;
    }

    legend {
        border: 0;
        position: relative;
        top: -25px;
        left: -20px;
    }
}
