.find-channels {

    &__results {
        height: 250px;
        overflow-y: scroll;
        border: 1px solid $zap-lighter-gray;
    }

    &__result-item {
        @extend .row;
        cursor: pointer;
        padding: 20px;
        vertical-align: middle;
        div img{ vertical-align: middle; }
        border-bottom: 1px solid $zap-lighter-gray;
        .fav-channel {
            height: 37px;
        }
    }
    
    &__footer {
        padding: 10px 0 10px;
    }
    
    .clear-form {
        position: absolute;
        border: 0 !important;
        top: 1px;
        right: 1px;
        &:hover { background: 0; } 
    }

    .form-group {
        position: relative;
    }
}