.jump-to-filters {
    .btn, li a  { font-size: 12px !important; }
    .btn { text-align: left; position: relative; }
    .caret {
        position: absolute;
        top: 45%;
        right: 10px;
    }

    &__label {
        font-size: 12px !important;
        display: inline-block;
        margin-right: 5px;
     }

    .jump-to-date {
        margin-right: 10px;
    }
    
    @include respond-to($small) {
        width: 100%;
        .jump-to-filters__label {
            display: none;//-block; 
            // margin-right: 10px;
        }
        .jump-to-date, 
        .jump-to-time  { 
            width: 48%; 
            & .btn { width: 100%;}
        }

     }

    @include respond-to($desktop) {
        .dropdown, .dropdown .btn {
            width: 100px;
        }
    }
}
