.my-shows {
    
    &__header {
        font-size: 12px !important;
    }

    &__listings {
        
    }

    &__listings--empty{
        font-size: 14px;
        color: $zap-lighter-gray;
        padding: 40px;
        font-style: italic;
    }

}


.add-to-my-shows-btn.is-hearted {
    color: $zap-green;
    border-color: $zap-green;
    outline: 0;
    &:hover { background: #fff; }
}

.my-shows-listing {
    margin-top: 20px;
    padding-top: 20px;
    border-top:  4px solid $zap-green;

    .show-listings-expander {
        font-size: 12px;
        height: 37px;
        color: $zap-med-gray;
    }

    &__header {
        padding-bottom: 20px;

        .btn {
            font-size: 12px !important; 
            height: 37px;
            margin-top: 2em;
        }

        .btn + .btn {
            margin-left: 10px;

        }

        .show-title {
            color: $zap-green;
            font-family: "OpenSans Bold", sans-serif;
            font-size: 18px;
            margin-left: 1em;
        }
    }

    &__episode {
        border: 1px solid $zap-lighter-gray;
        margin-bottom: 20px;
    }



    &__episode-details {
        padding: 1em;

        .episode-title  {
            font-family: "OpenSans Bold", sans-serif;
            font-size: 16px;
        }

        .episode-meta {
            text-transform: uppercase;
            font-size: 12px;
            color: $zap-med-gray;
            margin-bottom: 0.5em;
        }
    }

    &__episode-showings {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    &__episode-showing {
        border-top: 1px solid $zap-lighter-gray;
        font-weight: bold;
        background: $zap-tan;
        list-style-type: none;
        padding-left: 0;

        > * {
            display: inline;
            float: left;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
        }
        
        .find-it-on, .episode-time {
            font-family: 'OpenSans Bold', sans-serif;
            padding: 20px;
            line-height: 1em;
        }

        .episode-time {
            float: left;
            display: inline;
            width: 200px;
        }

        .episode-showing-stations { 
            border-left: 1px solid $zap-lighter-gray;
        }

        .episode-showing-station{
            padding-left: 20px;
            display: inline; 
            float: left; 
            
            img {
                padding-top: 5px;
            }

            .station-info {
                padding-left: 1em;
                padding-top: 8px;
                font-family: 'OpenSans Bold', sans-serif;
            }

            .callSign {
                color: $zap-med-gray;
            }
  
            > * {
                display: inline;
                float: left;
            }
        }
    }

}