.new-tonight {

    &__header {
        font-size: 12px!important;
        padding-bottom: 20px;
        
        
        a {
            padding: 10px!important;
        }
        
        .jump-to-label {  
            padding: 10px 0 10px;
        }
    }

// EP016636010015 0 shotgun wedding 
    &__listings {
        list-style-type: none; 
        padding-left: 0;
    }

}

.new-tonight-divider {
    > * { padding: 0; }
    padding-top: 20px;
    border-top: 4px solid $zap-green;
    margin: 0;
}
 

.new-tonight__listings {
    .grouped-list-item + .grouped-list-item { 
        border-top: 1px solid $zap-lighter-gray; 
    } 
}


.new-tonight-show {
    padding: 20px 15px 20px;
    
    &__img {
        @extend %col;
        
    }

    &__info {
        @extend %col;
        
    }

    &__title {
        color: $zap-green;
        margin-top: 5px;
    }

    &__find {
        @extend %col;
        min-width: 140px
    } 

    &__airing {
        margin-bottom: 0.5em;
    }

    &__find-inner {
        @extend .well;
        span { display: inline-block; vertical-align: middle}
        overflow: hidden;
        font-size: 14px;
        // text-align: center !important;
        font-family: "OpenSans Bold", sans-serif;
        padding: 10px;
        margin: 0 auto;
    }

    &__find-header {
        margin-bottom: 10px;
    }

    &__logo {
        margin-right: 10px;
    }

    &__callSign {
        color: $zap-med-gray;
    }



    @include respond-to($medium) {

    }

    @include respond-to($desktop) {
        &__img { width: 125px; }
        &__info { width: 425px; }
        &__find { width: 160px }
    }

}