.preferences-bar {
    margin: 20px 0 20px;
    
    h3 {
        margin-top: 0 !important;
    }
    
    .switch-to-classic {
        padding-top: 10px;
        padding-bottom: 15px;
        padding-right: 10px;
    }

    .change-provider-btn {
        font-size: 12px;
        height: 37px;
        margin-top: 10px;
    }

    @include respond-to($desktop) {

        .switch-to-classic {
            padding-right: 0;
            display: block;
        }

        .change-provider-btn {
            margin: 0;
        }

    }
}
