
.spinner {
    width: 100px;
    height: 100px;
    color: #2aab6e;
    font-size: 34px !important;
    margin: 3em auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin360 2s infinite linear;
    animation: spin360 2s infinite linear;
    overflow: hidden;
    -webkit-filter: blur(0);
}
.spinner,
.spinner:after {
    border-radius: 50%;
    width: 34px !important;
    height: 34px !important;
    vertical-align: baseline;
    line-height: 1em;
}

@-webkit-keyframes spin360 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin360 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
