.star {

    cursor: pointer;
    margin-top: 15px;
    &.fa { font-size: 16px !important; }
    &.fa-star {
        color: $brand-primary;
    }
    &.fa-star-o {
        color: $zap-med-gray;
    }
}

.star-wrapper  {
    text-align: center;
}
