.sticky {
    background: #fff;
    
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;

    @media (min-width: $screen-sm-min) {
        width: $container-sm;
    }

    @media (min-width: $screen-md-min) {
      width: $container-md;
      padding-top: 15px !important;
    }

    @media (min-width: $screen-lg-min) {
      width: $container-lg;
    }
}