#user-actions{
    
    .zap-dropdown > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .zap-dropdown-menu { 
        left: auto; // Reset the default from `.dropdown-menu`
        right: 0;
        list-style-type: none;
        padding-left: 0;
        display: none;
        background: #fff;
        z-index: 1001;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        width: 180px;
        
        li + li {
            border-top: 1px solid $zap-lighter-gray;
        }

        a {
            color: $brand-primary;
            padding: 0.75em 1em 0.75em;
            display: block;
        }
    }

    .open .zap-dropdown-menu {
        display: block;
        position: absolute;
    }

    .user-badge {
        padding-left: 0px;
        padding-right: 0px;
    }

    @include respond-to($medium){
        .zap-dropdown > a {
            padding-top: 22px;
            padding-bottom: 22px;
        }
    }

    @include respond-to($desktop){
        .navbar-btn {
            width: auto;
        }        
    };
}

.navbar-nav > li > a.user-badge {
    padding: 1.5px;
    padding-left: 0;

    img {
        height: 35px;
        width: 35px;
    }

    .avatar {
        height: 35px;
        width: 35px;
        overflow: hidden;
        border-radius: 100%;
        display: inline-block;
        margin-left: 0px;
        margin-right:0px;
        vertical-align: middle;
    }
    
    .salutation  {
        display: none;
    }
    
    .caret {

    }

    @include respond-to($desktop) {
        
        .salutation, .caret {
            display: inline-block;
        }

        .avatar {
            margin-right: 15px;
            margin-left: 15px;
        }
    }
}
